@import "fonts/font-faces.scss";
@import "breakpoints.scss";

/*
  Font sizes for min and max breakpoints
 */

$min-font-size: 0.75rem;
$max-font-size: 1rem;

:root {
    font-weight: 400;
    font-size: clamp($min-font-size, calc($min-font-size + 0.45vw), $max-font-size);
    line-height: 1.75;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


@media (max-width: $min-width) {

    :root {
        font-size: $min-font-size;
    }

}

@media (min-width: $max-width) {

    :root {
        font-size: $max-font-size;
    }

}

