$color-50:  oklch(97.05% 0.014 254.60);
$color-100: oklch(91.59% 0.041 256.24);
$color-200: oklch(86.18% 0.069 256.61);
$color-300: oklch(80.81% 0.098 256.29);
$color-400: oklch(75.32% 0.128 256.49);
$color-500: oklch(70.01% 0.133 256.39);
$color-600: oklch(60.18% 0.159 256.41);
$color-700: oklch(46.97% 0.163 256.38);
$color-800: oklch(33.33% 0.114 256.09);
$color-900: oklch(20.97% 0.072 256.05);
