$color-50:  oklch(96.99% 0.044 161.79);
$color-100: oklch(91.59% 0.134 160.93);
$color-200: oklch(86.19% 0.192 160.84);
$color-300: oklch(80.86% 0.181 160.8);
$color-400: oklch(75.44% 0.169 160.75);
$color-500: oklch(73.90% 0.202 150.40);
$color-600: oklch(60.31% 0.134 160.92);
$color-700: oklch(46.92% 0.104 161.08);
$color-800: oklch(33.14% 0.074 161.05);
$color-900: oklch(21.12% 0.047 160.50);
