/* Hind-Light */
@font-face {
    font-family: 'Hind';
    src: url('styles/fonts/Hind-Light.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
}

/* Hind-Regular */
@font-face {
    font-family: 'Hind';
    src: url('styles/fonts/Hind-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Hind-Medium */
@font-face {
    font-family: 'Hind';
    src: url('styles/fonts/Hind-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
}

/* Hind-SemiBold */
@font-face {
    font-family: 'Hind';
    src: url('styles/fonts/Hind-SemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

/* Hind-Bold */
@font-face {
    font-family: 'Hind';
    src: url('styles/fonts/Hind-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Monserrat */
@font-face {
    font-family: Montserrat;
    src: url('styles/fonts/Montserrat-VariableFont_wght.ttf') format('-variations');
    font-style: normal;
    font-weight: 1 999;
}

/* Monserrat Italic */
@font-face {
    font-family: Montserrat;
    src: url('styles/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('-variations');
    font-style: italic;
    font-weight: 1 999;
}
