@import 'fonts/fonts.css';

* {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: Hind, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 2rem 2rem 2rem 2rem;
}
